.container {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);

    .screenFilterWrapper {
      width: 100%;
      position: relative;
    }

    .filterRow {
      display: flex;
      gap: 15px;
      padding: 20px 50px;
      background: white;
      border-radius: 12px;
      margin: 20px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);

      .filterField {
        width: 250px;
        position: relative;
      }
    }

    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
    }
  }
}
