.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  min-height: 100vh;
  background: #ffffff;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
