.container {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);

    .row {
      display: flex;
      gap: 50px;
      width: 100%;
      padding: 64px 50px 32px 50px;

      .content {
        width: 100%;
      } 
    }

    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
    }
  }
}
