.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  background-color: #2563eb;
  color: white;
  border: none;

  &:hover {
    background-color: #1d4ed8;
  }

  &.secondary {
    background-color: #6b72801c;
    width: 70px;
    height: 30px;
    color: #6b7280;

    &:hover {
      background-color: #4b5563;
      color: #fff;
    }
  }
}
